@page "/services"
@using FargoSpaAndWellness.Data
@using FargoSpaAndWellness.Data.Migrations
@using FargoSpaAndWellness.Migrations.FargoSpaAndWellness
@using FargoSpaAndWellness.Models
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@implements IAsyncDisposable
@inject IDbContextFactory<FargoSpaAndWellnessContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>
<div>
    <input type="search" @bind="nameFilter" @bind:event="oninput" placeholder="Search services..." />

</div>

<p>
    <a href="services/create">Create New</a>
</p>

<div>
<QuickGrid Class="table" Items="FilteredServices" Pagination="pagination">
    <PropertyColumn Property="service => service.Name" Sortable="true" />
    <PropertyColumn Property="service => service.Description" />
    <PropertyColumn Property="service => service.Price" />
    <PropertyColumn Property="service => service.DurationMinutes" Title = "Duration in Minutes" />
    <PropertyColumn Property="service => service.Category" />
    <PropertyColumn Property="service => service.IsAvailable" Title = "Available"/>

    <TemplateColumn Context="service">
        <a href="@($"services/edit?serviceid={service.ServiceID}")">Edit</a> |
        <a href="@($"services/details?serviceid={service.ServiceID}")">Details</a> |
        <a href="@($"services/delete?serviceid={service.ServiceID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
</div>

<Paginator State="pagination" />

@code {
    private FargoSpaAndWellnessContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();

    private string nameFilter = string.Empty;

    private IQueryable<Service> FilteredServices =>
        context.Service.Where(s => s.Name!.Contains(nameFilter));

    private PaginationState pagination = new PaginationState { ItemsPerPage = 5 };
}
