@page "/appointments"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FargoSpaAndWellness.Models
@using FargoSpaAndWellness.Data.Migrations
@implements IAsyncDisposable
@inject IDbContextFactory<FargoSpaAndWellness.Data.Migrations.FargoSpaAndWellnessContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="appointments/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Appointment">
    <PropertyColumn Property="appointment => appointment.CustomerID" />
    <PropertyColumn Property="appointment => appointment.EmployeeID" />
    <PropertyColumn Property="appointment => appointment.ServiceID" />
    <PropertyColumn Property="appointment => appointment.AppointmentDate" />
    <PropertyColumn Property="appointment => appointment.Status" />
    <PropertyColumn Property="appointment => appointment.Notes" />

    <TemplateColumn Context="appointment">
        <a href="@($"appointments/edit?appointmentid={appointment.AppointmentID}")">Edit</a> |
        <a href="@($"appointments/details?appointmentid={appointment.AppointmentID}")">Details</a> |
        <a href="@($"appointments/delete?appointmentid={appointment.AppointmentID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private FargoSpaAndWellnessContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
